*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    background-color: #e2e2e2;
}
.clear {
    clear: both;
}
.address-header {
    background-color: black;
    color: aliceblue;
    font-size: 13px;
    width: 100%;
    padding: 6px 15px;
    text-align: center;
}
.content-address {
    display: inline-block;
}
.content-shoppe {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
}
.content-shoppe .Shoppe {
    text-decoration: none;
    color: aliceblue;
}
.content-shoppe .Shoppe:hover {
    color: #ccc

}
.search-header {
    display: block;
    z-index: 3;
    width: 100%;
}
#header .search-header {
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: #e2e2e2;
    padding: 15px 0;
    height: 90px;
}
.img-TTG {
    padding: 0 15px;
}
.header-wrap-search {
    position: relative;
    padding: 0 15px;
    height: 40.75px;
    width: 725px;
}
.input-search {   
    padding: 9px 50px 10px 15px;
    width: 100%;
    height: 100%;
    border: 1px solid #ececec;
    border-radius: 5px;
    outline: none;
}
.btn-search {
    position: absolute;
    background-color: #f9bb01;
    border-radius: 5px;
    border: 1px solid #f9bb01;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    color: #fff;
    z-index: 1;
    left: 89%;
    margin-top: 5px;
}
.header-wrap-search {
    display: inline-block;
}
.search-icon {
    
}
.header-wrap-action {
    font-size: 13px;
}
.header-wrap-action  .user-login{
    padding: 0 15px;
    border: none;
    background-color: #e2e2e2;
}
.header-wrap-action  .user-login:hover {
    cursor: pointer;
}
.user-icon {
    font-size: 20px;
}
.number {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
}
.cart {
    border: none;
    background-color: #e2e2e2;
    padding-top: 5px;
    padding-left: 16px;
}
.cart-icon {
    font-size: 20px;
}
.text-cart {
    font-size: 13px;
    display: block;
    font-weight: 500;
    text-align: left;
}
.row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 44px;
}
.header-bottom {
    background-color: #fff;
    display: block;
}
.header-bottom .title-menu {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #ffffff;
    color: #333333;
    box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, 0.1), 0 -4px 6px 2px rgba(60, 64, 67, 0.15);
}
.container-SP {
    list-style-type: none;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.sidebar-content {
    position: relative;
}
.title-menu {
    position: absolute;
}
.title-menu div {
    width: 18px;
    font-size: 20px;
}
.nav-menu .subnav-menu {
    position: absolute;
}
.subnav-menu {
    padding-top: 10px;
}
.nav-menu li span{
    padding-left: 10px;
}
.title-menu:hover {
    background-color: #f9bb01;
}
.container-star {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between!important;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 70%;
}
.box-policy ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: 500;
}
.box-policy ul li {
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex: 0 0 auto;
    padding-right: 20px;
}
.box-icon {
    padding-right: 5px;
    font-size: 20px;
}
.box-text {
    font-size: 13px;
}
.box-live .btn-live {
    border-radius: 4px;
    padding: 5px 12px 5px 20px;
    color: #ff0000;
    border: 1px solid #ff0000;
    text-transform: none;
    font-weight: 500;
    background: transparent;
    outline: none;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    max-width: 130px;
    overflow: hidden;
}
.box-live .btn-live:after {
    content: " ";
    background: red;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 7px;
    top: calc(50% - 4px);
    border-radius: 50%;
    animation: pulselive 1.65s linear infinite;
}
.sidebar-menu{
    padding-bottom: 15px;
    position: absolute;
    width: 100%;
    top: calc(100% - 1px);
    left: 0;
    z-index: 9;
}
.img-content-header {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.img-content-banner{
    display: inline-block;
    border: 1px solid #ececec;
    border-radius: 6px;
    width: 50%;
    margin: 10px;
}
.list-img {
    display: inline-block;
    width: 25%;
}
.img-content-list {
    display: inline-block;
    border: 1px solid #ececec;
    border-radius: 6px;
    width: 100%;
}
.list-bottom-content {
    display: block;
}
.container-bottom {

}
.list-bottom {
    display: flex;
    float: left;
    width: calc(100% / 4);
}
.list-bottom-img {
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 6px;
}
.list-bottom-img:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: all 400ms ease;
}
#content-body {
    padding-top: 100px;
}
.Top-titel {
    padding-bottom: 20px;
}
.titel {
    font-size: 24px;
    color: #333333;
    text-decoration: none;
}
.content-body-box {
    position: relative;
    display: block;
}
.box-sanpham{
    float: left;
    padding: 10px;
    width: calc(100% /5);
    background-color: aliceblue;
    display: inline-block;
    box-shadow: 0 0 3px rgba(119, 82, 82, 0.512);
    border-radius: 4px;   
}
.img-sanpham {
    width: 100%;
    padding-top: 30px;
}
.ten-sanpham {
    padding-top: 15px;
    width: 100% ; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.TT-price {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    display: flex!important;
}
.gia-sanpham {
    display: block;
    margin-right: 4px;
    color: #d0021c;
}
.TT-SP {
    flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    padding-right: 5px;
}
.sale-SP {
    display: block;
    color: #878c8f;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 13px;
}
.G-sale {
    background: #ff0000;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 5px 5px;
    min-width: 38px;
    text-align: center;
    align-self: center;
    -ms-align-self: center;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    cursor: default;
    
}

.proloop-action {
    position: relative;
    text-align: center;
}
.ti-bag {
    display: inline-block;
    width: 14px;
}
.btn-bag {
    height: 100%;
    background: #fff;
    color: #252a2b;
    border: 0;
    border-radius: 16px;
    position: relative;
    padding: 0 15px 0 35px;
    height: 32px;
    line-height: 30px;
    outline: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
/*test button*/
.btn-1 {
    letter-spacing: 0;
}

.btn-1.color-blu:hover,
.btn-1.color-blu:active {
  color: #333333;
}

.btn-1:hover,
.btn-1:active {
  letter-spacing: 2px;
}

.btn-1:after,
.btn-1:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  opacity: 0;
}

.btn-1.color-blu:after,
.btn-1.color-blu:before {
  border: 1px solid aqua;
}


.btn-1:hover:after,
.btn-1:hover:before {
  backface-visibility: hidden;
  transition: width 350ms ease-in-out;
  width: 70%;
  opacity: 1;
}
/* Danh muc noi bat */
.home-DMNB {
    padding-bottom: 40px;
    padding-top: 60px;
}
.container-DMNB {
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.wrapbox {  
    border-radius: 5px;
    margin: 0;
    align-items: center;
    color: #333333;
    background: #ffffff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.section-heading-DMNB {
    width: 100%;
    padding: 20px 15px;
    margin: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
}
.titel-DMNB {
    font-size: 24px;
    font-weight: 700;
    margin: 0;

}
.text-DMNB {
    text-decoration: none;
    list-style: none;
    color: #333333;
}
.content-DMNB {
    flex: 0 0 100%;
    max-width: 100%;
}
.list-DMNB {
    display: flex;
    flex-wrap: wrap;
}
.col17-cus {
    flex: 0 0 calc(100%/7);
    max-width: calc(100%/7);
}
.item-DMNB {
    position: relative;
    padding: 15px 15px;
    height: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
}
.item-img-DMNB {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 8px;
}
.box-lazy-img {
    position: relative;
    height: 0;
    display: block;
    width: 100%;
    padding-bottom: 100%;
}
.DMNB-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    object-fit: contain;
    max-width: 100%;
}
.item-titel-DMNB {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    color: #333333  ;
}
.content-DMNB .list-DMNB .col17-cus:hover  {
    box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, 0.1), 0 0px 6px 2px rgba(60, 64, 67, 0.15);
}


<<<<<<< HEAD
/* */
#banner {
    display: flex;
    width: 100%;
  }
  
  .section {
    width: 33.33%;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  
  #section1 {
    background-image: url('./img/banner_top_3_img_large.webp');
  }
  
  #section2 {
    background-image: url('section2.jpg');
  }
  
  #section3 {
    background-image: url('section3.jpg');
  }
  #section4 {
    background-image: url('section4.jpg');
  }
=======
/* section*/
.section-banner-body{
    padding-bottom: 60px;
    display: block;
}
.container-banner-body {
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row-banner {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-banner {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.banner-inner {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.img-banner-section {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
>>>>>>> 058b8a66b20b4330877bbe3cc7a3bfb5397902a8


















/*Footer*/
.footer {
   
    display: block;
    padding: 30px 0 0;
    line-height: 1.6;
}
.widget-footer{

}
.mainFooter .footer-center .widget-footer {
    border-bottom: 0;
}
.footer-copyright{
    text-align: center;
    border-top: 1px solid rgba(51, 51, 51, 0.08);
    padding: 15px 0;
}
.col-5{
    max-width: 20%;
    flex: 0 0 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    color: #333333;


   
}
.footer-nav li{
    color: #333333;
}

.col-5.col-5-2{
    max-width: 25%;
}

.footer .footer-copyright{
    text-align: center;
    border-top: 1px solid rgba(51, 51, 51, 0.08);
    padding: 15px 0;
   
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title-footer{
    font-weight: 700;
    font-size: 18px;
    position: relative;
    margin: 0px;
    padding: 15px 0;
}
.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-5-1{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.content-footer{
    padding: 10px 0px 20px;
}
.row2{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.footer-ex{
    padding: 30px 0 0;
}
.footer-cocial{
    padding: 10px 0;
    font-size: 24px;
    

}
.fa{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    color: #333333;
}
.address-footer{
}

li{
    margin: 0 0 8px;
}
.footer-nav li{
    text-decoration: none;
}

.footer .footer-cocial li{

    display: inline-block;
    list-style-type: none;
}
.footer-copyright .container p a {
    color: #333333;
    text-decoration: none;

}
.address-footer li{
    list-style-type: none;
}


.text-font{
    color: #333333;
}
.footer-nav li a{
    color: #333333;
    text-decoration: none;
}

/*end footer*/



/*Begin header*/

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
element.style {
    min-height: 202.55px;
}
.site-header-top .box-content {
    padding: 6px 0;
}
.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.site-header-top {
    background: #000000;
    color: #ffffff;
    font-size: 13px;
}
.site-header-top .contact {
    margin-left: 15px;
    padding-left: 15px;
    position: relative;
}
b, strong {
    font-weight: bolder;
}
.site-header-top .box-content {
    padding: 6px 0;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.mainHeader.mainHeader_temp03 .mainHeader-middle {
    padding: 15px 0;
    background: #e2e2e2;
}
.mainHeader .mainHeader-middle {
    position: relative;
    z-index: 999;
}
style attribute {
    --slider-height: 0px;
    --header-height: 222px;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mainHeader .flex-container-header {
    margin: 0 -15px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.mainHeader.mainHeader_temp03:not(.hSticky-nav) .header-wrap-iconav {
    display: none;
}
.mainHeader .flex-container-header > div[class*='header-wrap-'] {
    padding: 0 15px;
}
.mainHeader .header-wrap-action .header-action {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.mainHeader.mainHeader_temp03 .header-wrap-action .header-action .header-action-item.header-menu-parent {
    margin-left: 10px;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    margin-left: 10px;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    position: relative;
    margin-left: 20px;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    margin-left: 10px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.mainHeader.mainHeader_temp03 .header-wrap-action.header-wrap-iconav .header-action .header-action-item.header-action_menu .box-icon, .mainHeader.mainHeader_temp03 .header-wrap-action.header-wrap-iconav .header-action .header-action-item.header-action_menu .hamburger-menu, .mainHeader.mainHeader_temp03 .header-wrap-action.header-wrap-iconav .header-action .header-action-item.header-action_menu .box-icon svg {
    height: 25px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link {
    font-size: 12px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link {
    position: relative;
    display: block;
    font-size: 13px;
    color: var(--shop-color-text);
    white-space: nowrap;
    background: transparent;
    border: 0;
    outline: none;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon {
    position: relative;
    width: 32px;
    height: 40px;
    text-align: center;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon, .mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-text {
    display: inline-block;
    vertical-align: middle;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link {
    font-size: 12px;
}
.mainHeader .header-wrap-action.header-wrap-iconav .header-action .header-action-item.header-action_menu .box-tmenu {
    text-align: center;
    display: block;
    padding: 0;
    color: #ffffff;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 500;
}
.mainHeader.mainHeader_temp03 .header-wrap-action.header-wrap-iconav .header-action .header-action-item.header-action_menu .box-icon, .mainHeader.mainHeader_temp03 .header-wrap-action.header-wrap-iconav .header-action .header-action-item.header-action_menu .hamburger-menu, .mainHeader.mainHeader_temp03 .header-wrap-action.header-wrap-iconav .header-action .header-action-item.header-action_menu .box-icon svg {
    height: 25px;
}

.mainHeader .header-wrap-action.header-wrap-iconav .header-action .header-action-item.header-action_menu .box-icon .hamburger-menu {
    width: 25px;
    height: 35px;
    cursor: pointer;
    display: block;
    position: relative;
}

.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon {
    position: relative;
    width: 32px;
    height: 40px;
    text-align: center;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link {
    position: relative;
    display: block;
    font-size: 13px;
    color: var(--shop-color-text);
    white-space: nowrap;
    background: transparent;
    border: 0;
    outline: none;
}
.mainHeader .flex-container-header > div[class*='header-wrap-'] {
    padding: 0 15px;
}
.mainHeader .header-wrap-logo .wrap-logo, .mainHeader .header-wrap-logo.wrap-logo-sticky .wrap-logo {
    min-width: 150px;
    max-width: 220px;
}
.mainHeader.mainHeader_temp03 .header-wrap-logo h1, .mainHeader.mainHeader_temp03 .header-wrap-logo a {
    color: #263342;
    font-size: 26px;
}
.mainHeader .header-wrap-logo h1, .mainHeader .header-wrap-logo a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    color: var(--shop-color-main);
    white-space: initial;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
a {
    color: var(--shop-color-text);
    text-decoration: none;
    outline: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.mainHeader .header-wrap-logo a img {
    max-width: 200px;
    max-height: 70px;
}
.mainHeader .header-wrap-logo a img {
    max-height: 70px;
}
.lazyloaded {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    transition: opacity 300ms, filter 400ms;
    -webkit-transition: opacity 300ms, filter 400ms;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.mainHeader .flex-container-header > div[class*='header-wrap-'] {
    padding: 0 15px;
}
.mainHeader .header-wrap-search {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-right: 25px;
}
.mainHeader .header-wrap-search .header-search {
    position: relative;
    max-width: 680px;
    margin: 0 auto;
}
.mainHeader .header-wrap-search .header-search .smart-search-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    padding: 15px;
}
.smart-search-wrapper {
    width: 100%;
    background: #fff;
}
.mainHeader .header-wrap-search .header-search .smart-search-wrapper .search-suggest {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
}
.smart-search-wrapper .search-suggest p {
    margin: 0 0 12px;
}
.mainHeader .flex-container-header > div[class*='header-wrap-'] {
    padding: 0 15px;
}
.mainHeader {
    background: #fff;
    width: 100%;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.mainHeader .header-wrap-action .header-action {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.mainHeader .header-wrap-action .header-action .header-action-item.header-action_search {
    display: none;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    margin-left: 10px;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    position: relative;
    margin-left: 20px;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    margin-left: 10px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link {
    font-size: 12px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link {
    position: relative;
    display: block;
    font-size: 13px;
    color: var(--shop-color-text);
    white-space: nowrap;
    background: transparent;
    border: 0;
    outline: none;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    margin-left: 10px;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    position: relative;
    margin-left: 20px;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    margin-left: 10px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link {
    font-size: 12px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link {
    position: relative;
    display: block;
    font-size: 13px;
    color: var(--shop-color-text);
    white-space: nowrap;
    background: transparent;
    border: 0;
    outline: none;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .box-triangle {
    position: absolute;
    width: 22px;
    height: 15px;
    top: 100%;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .box-triangle svg {
    -webkit-filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
    filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    margin-left: 10px;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    position: relative;
    margin-left: 20px;
}
.mainHeader .header-wrap-action .header-action .header-action-item {
    margin-left: 10px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link {
    font-size: 12px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon {
    position: relative;
    width: 32px;
    height: 40px;
    text-align: center;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon, .mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-text {
    display: inline-block;
    vertical-align: middle;
}
.mainHeader.mainHeader_temp03 .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon svg {
    fill: #263342;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon svg {
    width: 22px;
    height: 40px;
    fill: var(--shop-color-text);
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon .box-icon--close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
    transition: opacity 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}
.mainHeader.mainHeader_temp03 .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon svg {
    fill: #263342;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon .box-icon--close svg {
    width: 18px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon svg {
    width: 22px;
    height: 40px;
    fill: var(--shop-color-text);
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon .count-holder {
    display: inline-block;
    vertical-align: top;
    background: #ff0000;
    color: #fff;
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 16px;
    top: 0px;
    padding: 0px 3px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
}
.mainHeader.mainHeader_temp03.hSticky-nav .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-text {
    color: #ffffff;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-text {
    padding-left: 2px;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-icon, .mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-text {
    display: inline-block;
    vertical-align: middle;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .header-action__link .box-text .txtbl {
    font-size: 13px;
    display: block;
    font-weight: 500;
    text-align: left;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .box-triangle {
    position: absolute;
    width: 22px;
    height: 15px;
    top: 100%;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.mainHeader .header-wrap-action .header-action .header-action-item .header-action_text .box-triangle svg {
    -webkit-filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
    filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
}

.mainHeader .header-wrap-search .header-search .searchform-product .btn-search svg {
    width: 18px;
    height: 100%;
    display: block;
    margin: auto;
    fill: #fff;
}
form {
    display: block;
    margin-top: 0em;
}

.mainHeader .header-wrap-search .header-search .searchform-product .btn-search {
    position: absolute;
    padding: 0;
    top: 0px;
    bottom: 0;
    right: 0px;
    border-radius: 4px;
    margin: 3px;
    border: 0;
    box-shadow: none;
    width: 70px;
    background: rgb(145, 80, 19);
    transition: opacity 150ms linear;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}


/*End Header*/



/*Beging Account */

main{
    display: block;
}
.wrapperMain_content {
    min-height: 80vh;
    padding-bottom: 30px;
}
.layout-account {
    padding: 60px 0;
    margin-bottom: 50px;
    border-top: 1px solid var(--shop-color-border);
}
.customers_accountForm {
    max-width: 620px;
    margin: 0 auto;
    padding: 25px 30px 30px;
    background: #ffffff;
}
.layout-account .tab-form-account {
    margin-bottom: 45px;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.layout-account .tab-form-account h4 {
    padding: 0px 30px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.customers_accountForm .accounttype h2 {
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 600;
}
form {
    display: block;
    margin-top: 0em;
}



/*End Account */