*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    background-color: #e2e2e2;
}
.clear {
    clear: both;
}
.address-header {
    background-color: black;
    color: aliceblue;
    font-size: 13px;
    width: 100%;
    padding: 6px 15px;
    text-align: center;
}
.content-address {
    display: inline-block;
}
.content-shoppe {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
}
.content-shoppe .Shoppe {
    text-decoration: none;
    color: aliceblue;
}
.content-shoppe .Shoppe:hover {
    color: #ccc

}
.search-header {
    display: block;
    z-index: 3;
    width: 100%;
}
#header .search-header {
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: #e2e2e2;
    padding: 15px 0;
    height: 90px;
}
.img-TTG {
    padding: 0 15px;
}
.header-wrap-search {
    position: relative;
    padding: 0 15px;
    height: 40.75px;
    width: 725px;
}
.input-search {   
    padding: 9px 50px 10px 15px;
    width: 100%;
    height: 100%;
    border: 1px solid #ececec;
    border-radius: 5px;
    outline: none;
}
.btn-search {
    position: absolute;
    background-color: #f9bb01;
    border-radius: 5px;
    border: 1px solid #f9bb01;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    color: #fff;
    z-index: 1;
    left: 89%;
    margin-top: 5px;
}
.header-wrap-search {
    display: inline-block;
}
.search-icon {
    
}
.header-wrap-action {
    font-size: 13px;
}
.header-wrap-action  .user-login{
    padding: 0 15px;
    border: none;
    background-color: #e2e2e2;
}
.header-wrap-action  .user-login:hover {
    cursor: pointer;
}
.user-icon {
    font-size: 20px;
}
.number {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
}
.cart {
    border: none;
    background-color: #e2e2e2;
    padding-top: 5px;
    padding-left: 16px;
}
.cart-icon {
    font-size: 20px;
}
.text-cart {
    font-size: 13px;
    display: block;
    font-weight: 500;
    text-align: left;
}
.row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 44px;
}
.header-bottom {
    background-color: #fff;
    display: block;
}
.header-bottom .title-menu {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #ffffff;
    color: #333333;
    box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, 0.1), 0 -4px 6px 2px rgba(60, 64, 67, 0.15);
}
.container-SP {
    list-style-type: none;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.sidebar-content {
    position: relative;
}
.title-menu {
    position: absolute;
}
.title-menu div {
    width: 18px;
    font-size: 20px;
}
.nav-menu .subnav-menu {
    position: absolute;
}
.subnav-menu {
    padding-top: 10px;
}
.nav-menu li span{
    padding-left: 10px;
}
.title-menu:hover {
    background-color: #f9bb01;
}
.container-star {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between!important;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 70%;
}
.box-policy ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: 500;
}
.box-policy ul li {
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex: 0 0 auto;
    padding-right: 20px;
}
.box-icon {
    padding-right: 5px;
    font-size: 20px;
}
.box-text {
    font-size: 13px;
}
.box-live .btn-live {
    border-radius: 4px;
    padding: 5px 12px 5px 20px;
    color: #ff0000;
    border: 1px solid #ff0000;
    text-transform: none;
    font-weight: 500;
    background: transparent;
    outline: none;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    max-width: 130px;
    overflow: hidden;
}
.box-live .btn-live:after {
    content: " ";
    background: red;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 7px;
    top: calc(50% - 4px);
    border-radius: 50%;
    animation: pulselive 1.65s linear infinite;
}
.sidebar-menu{
    padding-bottom: 15px;
    position: absolute;
    width: 100%;
    top: calc(100% - 1px);
    left: 0;
    z-index: 9;
}
.img-content-header {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.img-content-banner{
    display: inline-block;
    border: 1px solid #ececec;
    border-radius: 6px;
    width: 50%;
    margin: 10px;
}
.list-img {
    display: inline-block;
    width: 25%;
}
.img-content-list {
    display: inline-block;
    border: 1px solid #ececec;
    border-radius: 6px;
    width: 100%;
}
.list-bottom-content {
    display: block;
}
.container-bottom {

}
.list-bottom {
    display: flex;
    float: left;
    width: calc(100% / 4);
}
.list-bottom-img {
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 6px;
}
.list-bottom-img:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: all 400ms ease;
}
#content-body {
    padding-top: 100px;
}
.Top-titel {
    padding-bottom: 20px;
}
.titel {
    font-size: 24px;
    color: #333333;
    text-decoration: none;
}
.content-body-box {
    position: relative;
    display: block;
}
.box-sanpham{
    float: left;
    padding: 10px;
    width: calc(100% /5);
    background-color: aliceblue;
    display: inline-block;
    box-shadow: 0 0 3px rgba(119, 82, 82, 0.512);
    border-radius: 4px;   
}
.img-sanpham {
    width: 100%;
    padding-top: 30px;
}
.ten-sanpham {
    padding-top: 15px;
    width: 100% ; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.TT-price {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    display: flex!important;
}
.gia-sanpham {
    display: block;
    margin-right: 4px;
    color: #d0021c;
}
.TT-SP {
    flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    padding-right: 5px;
}
.sale-SP {
    display: block;
    color: #878c8f;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 13px;
}
.G-sale {
    background: #ff0000;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 5px 5px;
    min-width: 38px;
    text-align: center;
    align-self: center;
    -ms-align-self: center;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    cursor: default;
    
}

.proloop-action {
    position: relative;
    text-align: center;
}
.ti-bag {
    display: inline-block;
    width: 14px;
}
.btn-bag {
    height: 100%;
    background: #fff;
    color: #252a2b;
    border: 0;
    border-radius: 16px;
    position: relative;
    padding: 0 15px 0 35px;
    height: 32px;
    line-height: 30px;
    outline: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
/*test button*/
.btn-1 {
    letter-spacing: 0;
}

.btn-1.color-blu:hover,
.btn-1.color-blu:active {
  color: #333333;
}

.btn-1:hover,
.btn-1:active {
  letter-spacing: 2px;
}

.btn-1:after,
.btn-1:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  opacity: 0;
}

.btn-1.color-blu:after,
.btn-1.color-blu:before {
  border: 1px solid aqua;
}


.btn-1:hover:after,
.btn-1:hover:before {
  backface-visibility: hidden;
  transition: width 350ms ease-in-out;
  width: 70%;
  opacity: 1;
}
/* Danh muc noi bat */
.home-DMNB {
    padding-bottom: 40px;
    padding-top: 60px;
}
.container-DMNB {
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.wrapbox {  
    border-radius: 5px;
    margin: 0;
    align-items: center;
    color: #333333;
    background: #ffffff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.section-heading-DMNB {
    width: 100%;
    padding: 20px 15px;
    margin: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
}
.titel-DMNB {
    font-size: 24px;
    font-weight: 700;
    margin: 0;

}
.text-DMNB {
    text-decoration: none;
    list-style: none;
    color: #333333;
}
.content-DMNB {
    flex: 0 0 100%;
    max-width: 100%;
}
.list-DMNB {
    display: flex;
    flex-wrap: wrap;
}
.col17-cus {
    flex: 0 0 calc(100%/7);
    max-width: calc(100%/7);
}
.item-DMNB {
    position: relative;
    padding: 15px 15px;
    height: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
}
.item-img-DMNB {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 8px;
}
.box-lazy-img {
    position: relative;
    height: 0;
    display: block;
    width: 100%;
    padding-bottom: 100%;
}
.DMNB-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    object-fit: contain;
    max-width: 100%;
}
.item-titel-DMNB {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    color: #333333  ;
}
.content-DMNB .list-DMNB .col17-cus:hover  {
    box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, 0.1), 0 0px 6px 2px rgba(60, 64, 67, 0.15);
}


<<<<<<< HEAD
/* */
#banner {
    display: flex;
    width: 100%;
  }
  
  .section {
    width: 33.33%;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
  }
  
  #section1 {
    background-image: url('./img/banner_top_3_img_large.webp');
  }
  
  #section2 {
    background-image: url('section2.jpg');
  }
  
  #section3 {
    background-image: url('section3.jpg');
  }
  #section4 {
    background-image: url('section4.jpg');
  }
=======
/* section*/
.section-banner-body{
    padding-bottom: 60px;
    display: block;
}
.container-banner-body {
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row-banner {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-banner {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.banner-inner {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.img-banner-section {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
>>>>>>> 058b8a66b20b4330877bbe3cc7a3bfb5397902a8
