*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    background-color: #e2e2e2;
}
.clear {
    clear: both;
}
.address-header {
    background-color: black;
    color: aliceblue;
    font-size: 13px;
    width: 100%;
    padding: 6px 15px;
    text-align: center;
}
.content-address {
    display: inline-block;
}
.content-shoppe {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
}
.content-shoppe .Shoppe {
    text-decoration: none;
    color: aliceblue;
}
.content-shoppe .Shoppe:hover {
    color: #ccc

}
.search-header {
    display: block;
    z-index: 3;
    width: 100%;
}
#header .search-header {
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: #e2e2e2;
    padding: 15px 0;
    height: 90px;
}
.img-TTG {
    padding: 0 15px;
}
.header-wrap-search {
    position: relative;
    padding: 0 15px;
    height: 40.75px;
    width: 725px;
}
.input-search {   
    padding: 9px 50px 10px 15px;
    width: 100%;
    height: 100%;
    border: 1px solid #ececec;
    border-radius: 5px;
    outline: none;
}
.btn-search {
    position: absolute;
    background-color: #f9bb01;
    border-radius: 5px;
    border: 1px solid #f9bb01;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    color: #fff;
    z-index: 1;
    left: 89%;
    margin-top: 5px;
}
.header-wrap-search {
    display: inline-block;
}
.search-icon {
    
}
.header-wrap-action {
    font-size: 13px;
}
.header-wrap-action  .user-login{
    padding: 0 15px;
    border: none;
    background-color: #e2e2e2;
}
.header-wrap-action  .user-login:hover {
    cursor: pointer;
}
.user-icon {
    font-size: 20px;
}
.number {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
}
.cart {
    border: none;
    background-color: #e2e2e2;
    padding-top: 5px;
    padding-left: 16px;
}
.cart-icon {
    font-size: 20px;
}
.text-cart {
    font-size: 13px;
    display: block;
    font-weight: 500;
    text-align: left;
}
.row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 44px;
}
.header-bottom {
    background-color: #fff;
    display: block;
}
.header-bottom .title-menu {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #ffffff;
    color: #333333;
    box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, 0.1), 0 -4px 6px 2px rgba(60, 64, 67, 0.15);
}
.container-SP {
    list-style-type: none;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.sidebar-content {
    position: relative;
}
.title-menu {
    position: absolute;
}
.title-menu div {
    width: 18px;
    font-size: 20px;
}
.nav-menu .subnav-menu {
    position: absolute;
}
.subnav-menu {
    padding-top: 10px;
}
.nav-menu li span{
    padding-left: 10px;
}
.title-menu:hover {
    background-color: #f9bb01;
}
.container-star {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between!important;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 70%;
}
.box-policy ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: 500;
}
.box-policy ul li {
    display: -webkit-box;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex: 0 0 auto;
    padding-right: 20px;
}
.box-icon {
    padding-right: 5px;
    font-size: 20px;
}
.box-text {
    font-size: 13px;
}
.box-live .btn-live {
    border-radius: 4px;
    padding: 5px 12px 5px 20px;
    color: #ff0000;
    border: 1px solid #ff0000;
    text-transform: none;
    font-weight: 500;
    background: transparent;
    outline: none;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    max-width: 130px;
    overflow: hidden;
}
.box-live .btn-live:after {
    content: " ";
    background: red;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 7px;
    top: calc(50% - 4px);
    border-radius: 50%;
    animation: pulselive 1.65s linear infinite;
}
.sidebar-menu{
    padding-bottom: 15px;
    position: absolute;
    width: 100%;
    top: calc(100% - 1px);
    left: 0;
    z-index: 9;
}
.img-content-header {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.img-content-banner{
    display: inline-block;
    border: 1px solid #ececec;
    border-radius: 6px;
    width: 50%;
    margin: 10px;
}
.list-img {
    display: inline-block;
    width: 25%;
}
.img-content-list {
    display: inline-block;
    border: 1px solid #ececec;
    border-radius: 6px;
    width: 100%;
}
.list-bottom-content {
    display: block;
}
.container-bottom {

}
.list-bottom {
    display: flex;
    float: left;
    width: calc(100% / 4);
}
.list-bottom-img {
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 6px;
}
.list-bottom-img:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: all 400ms ease;
}
#content-body {
    padding-top: 100px;
}
.Top-titel {
    padding-bottom: 20px;
}
.titel {
    font-size: 24px;
    color: #333333;
    text-decoration: none;
}
.content-body-box {
    position: relative;
    display: block;
}
.box-sanpham{
    float: left;
    padding: 10px;
    width: calc(100% /5);
    display: inline-block;
    box-shadow: 0 0 3px rgba(119, 82, 82, 0.512);
    border-radius: 4px;   
}
.img-sanpham {
    width: 100%;
    padding-top: 30px;
}
.ten-sanpham {
    padding-top: 15px;
    width: 100% ; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.TT-price {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    display: flex!important;
}
.gia-sanpham {
    display: block;
    margin-right: 4px;
    color: #d0021c;
}
.TT-SP {
    flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    padding-right: 5px;
}
.sale-SP {
    display: block;
    color: #878c8f;
    text-decoration: line-through;
    font-weight: 300;
    font-size: 13px;
}
.G-sale {
    background: #ff0000;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 5px 5px;
    min-width: 38px;
    text-align: center;
    align-self: center;
    -ms-align-self: center;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    cursor: default;
    
}

.proloop-action {
    position: relative;
    text-align: center;
}
.ti-bag {
    display: inline-block;
    width: 14px;
}
.btn-bag {
    height: 100%;
    background: #fff;
    color: #252a2b;
    border: 0;
    border-radius: 16px;
    position: relative;
    padding: 0 15px 0 35px;
    height: 32px;
    line-height: 30px;
    outline: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
/*test button*/
.btn-1 {
    letter-spacing: 0;
}

.btn-1.color-green:hover,
.btn-1.color-green:active {
  color: green;
}

.btn-1:hover,
.btn-1:active {
  letter-spacing: 2px;
}

.btn-1:after,
.btn-1:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  opacity: 0;
}

.btn-1.color-green:after,
.btn-1.color-green:before {
  border: 1px solid green;
}


.btn-1:hover:after,
.btn-1:hover:before {
  backface-visibility: hidden;
  transition: width 350ms ease-in-out;
  width: 70%;
  opacity: 1;
}

/*Footer*/
.footer {
   
    display: block;
    padding: 30px 0 0;
    line-height: 1.6;
}
.widget-footer{

}
.mainFooter .footer-center .widget-footer {
    border-bottom: 0;
}
.footer-copyright{
    text-align: center;
    border-top: 1px solid rgba(51, 51, 51, 0.08);
    padding: 15px 0;
}
.col-5{
    max-width: 20%;
    flex: 0 0 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    color: #333333;


   
}
.footer-nav li{
    color: #333333;
}

.col-5.col-5-2{
    max-width: 25%;
}

.footer .footer-copyright{
    text-align: center;
    border-top: 1px solid rgba(51, 51, 51, 0.08);
    padding: 15px 0;
   
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.title-footer{
    font-weight: 700;
    font-size: 18px;
    position: relative;
    margin: 0px;
    padding: 15px 0;
}
.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-5-1{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.content-footer{
    padding: 10px 0px 20px;
}
.row2{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.footer-ex{
    padding: 30px 0 0;
}
.footer-cocial{
    padding: 10px 0;
    font-size: 24px;
    

}
.fa{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    color: #333333;
}
.address-footer{
}

li{
    margin: 0 0 8px;
}
.footer-nav li{
    text-decoration: none;
}

.footer .footer-cocial li{

    display: inline-block;
    list-style-type: none;
}
.footer-copyright .container p a {
    color: #333333;
    text-decoration: none;

}
.address-footer li{
    list-style-type: none;
}


.text-font{
    color: #333333;
}
.footer-nav li a{
    color: #333333;
    text-decoration: none;
}
main{
    display: block;
}
.wrapperMain_content {
    min-height: 80vh;
    padding-bottom: 30px;
}
.layout-account {
    padding: 60px 0;
    margin-bottom: 50px;
    border-top: 1px solid var(--shop-color-border);
}
.customers_accountForm {
    max-width: 620px;
    margin: 0 auto;
    padding: 25px 30px 30px;
    background: #ffffff;
}
.layout-account .tab-form-account {
    margin-bottom: 45px;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.layout-account .tab-form-account h4 {
    padding: 0px 30px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.customers_accountForm .accounttype h2 {
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 600;
}
form {
    display: block;
    margin-top: 0em;
}
